.luxbar-menu {
  background-color: white;
}

nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.wrapper-card {
  font-family: "Raleway", serif !important;
}

.textohead {
  font-family: "Open Sans", sans-serif;
  padding-top: 80px;
}

.headerimg {
  background-image: url(../../images/bg-hero.png) !important;
  width: 100vw;
}

.animation-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(0px, 20px, 0px);
  transition-delay: 1s;
  position: relative;
}

.animation-element.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*cajas Cartas*/
.card__imagen {
  background-image: url(../img/bg-price.svg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.card__fondo {
  background-color: #333745;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: x-l;
}

.card-price {
  text-align: center;
  color: #221D23;
}

.card-title {
  text-align: center;
  color: #726f73;
}

.card__precio {
  color: #fff;
  text-align: center;
}

.card {
  background: #fff;
  box-shadow: 0 1px 1px #221D23;
  flex: 1;
  margin: 20px 60px;
  padding: 30px;
  position: relative;
  text-align: left;
  width: 300px;
}
.card.popular {
  margin-top: -10px;
  margin-bottom: -10px;
}
.card.popular .card-action button {
  background-color: #2ab7ca;
  color: #fff;
  font-size: 17px;
  margin-top: -15px;
  padding: 15px;
  height: 80px;
}
.card.popular .card-action button:hover {
  background-color: #249cac;
  font-size: 23px;
}
.card:hover {
  box-shadow: 0 8px 20px #221D23;
}

.card-description ul {
  display: block;
  margin: 20px 0;
  padding-left: 20px;
  padding-bottom: 30px;
}
.card-description li {
  color: #221D23;
  font-size: 15px;
  margin: 0 0 15px;
}
.card-description .card-action button {
  position: absolute;
  bottom: 20px;
  background: transparent;
  border: 2px solid #2ab7ca;
  color: #2ab7ca;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  width: 80%;
  height: 60px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.card-description .card-action button:hover {
  background-color: #2ab7ca;
  box-shadow: 0 2px 4px #186b76;
  color: #fff;
  font-size: 17px;
}
.card-description section {
  background-image: url(../../images/bg-price.svg) !important;
  width: 100vw;
}
.card-description main {
  font-family: "Open Sans", sans-serif;
}
.card-description .titulocara {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #221D23;
  height: 100px;
}
footer .footer__texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__texto ul, footer .footer__texto li {
  display: flex;
  list-style: none;
  justify-content: start;
  margin: 0;
}
footer .footer__texto li {
  padding: 10px;
}
footer p {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 10px;
}

.texto__footer {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
